nav  li a{
	color:#ffff !important;
}
img{
	width:100%;
	height:auto;
}
header{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
header::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	height: 300px;
	right: 0;
	left: 0;
	background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.15) 70%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.15) 70%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.15) 70%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0);
}

.main_area{
	background-image:url("banner.jpg");
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    height:100vh;
	position: relative;
	padding-bottom: 20px;
	
}
.main_area::before {
	position: absolute;
	content: '';
	background-color: #000;
	opacity: .5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}
.main_area h1{
	color:#ffff;
	font-size:88px;
	font-weight:900;
}

.main_area h2{
	color:#ffff;
	font-family: 'Raleway', sans-serif;
}
h2{
	font-family: 'Raleway', sans-serif;
}

.about-me{
	margin-top: 20px;
}
.about{
	background-image:url("banner.jpg");
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    height:500px;
	position: relative;
}
p{
	line-height:20px;
	font-size:16px;
}
i{
	font-size:28px;
}
.service-head{
	margin-bottom:30px;
}
.area2{
	margin-top:30px;
	padding:50px 0 50px 0;
}

footer{
    background-color:  #141C1C;
    padding: 20px;
}
footer p{
    color:#bfbfbf;
}
footer a{
    text-decoration: none !important;
	color: #bfbfbf !important;
	font-family: 'Josefin Sans', sans-serif;
    
}
